body {

    background-color: black;
    background-size: 100%;
    
}

div.intro{
    font-family: "isen";
    height: 800px;
    margin-left: 2px;
    margin-right: 2px;
    border: 1.5px solid black;
    border-radius: 20px;
    background-image: url(water.jpeg);
    direction: alternate;
    background-size:100%;
    padding-top: 8px;
    margin-bottom: 5px;
}

audio{
    opacity: 30%;
    margin-top: 50%;
    margin-left: 65%;
  }