body {
    background-color:black;
    margin:2px;
    
}

img {
    width:100%
    
}

@font-face {
    font-family: "isen";
    src: url("Isenreg.woff");
    }


div.row {
    display:flex;
    flex-wrap:wrap;
}

div.col{
outline:2px solid black;
border-radius: 25px;
height:400px;
margin-top: 1.5px;
margin-bottom: 1.5px;


}

div.menu{
    position: fixed;
    font-family: "isen";
    font-size: 40px;
    width: 140px;
height: 40px;
margin-top: 0px;
margin-bottom: 8px;
margin-left: auto;
margin-right: auto;
    background-color: lightblue;
    outline: 2px solid black;
    border-radius: 25px;
}

div.menu2{
    position: fixed;
    font-family: "isen";
    font-size: 40px;
    width: 140px;
height: 140px;
margin-top: 30px;
margin-bottom: 8px;
margin-left: auto;
margin-right: auto;
border-radius: 25px;


    outline: 0px solid black;
}

div.menu3{
    position: fixed;
    font-family: "isen";
    font-size: 40px;
    width: 140px;
height: 240px;
margin-top: 140px;
margin-bottom: 8px;
margin-left: auto;
margin-right: auto;
border-radius: 25px;

}


div.gradient1 {
    height: 250px;
    background-color: #ff8a00;
    background-image: radial-gradient(circle closest-side, #ff8a00, #e52e71);
  }


  div.gradient1:hover {
    transition: 5s;
    background-image: radial-gradient(circle closest-side, #7770f6,#e52e71);

  }
  

  div.gradient2 {
    height: 250px;
    background-color: #6b68cb;
    background-image: radial-gradient(circle closest-side, #6b68cb, #2fbefc);
  }

  div.gradient2:hover {
    transition: 5s;
    background-image: radial-gradient(circle closest-side, #d9f670,#2fbefc);

  }

  div.gradient3 {
    height: 250px;
    background-color: #41bc85;
    background-image: radial-gradient(circle closest-side, #70f6d0, #e6dc4f);
  }

  div.gradient3:hover {
    transition: 5s;
    background-image: radial-gradient(circle closest-side, #ff9c4c,#e6dc4f);

  }

  div.gradient4 {
    height: 250px;
    background-color: rgb(36, 199, 235);
    background-image: radial-gradient(circle closest-side,rgb(36, 199, 235) , #df11b6);
  }

  div.gradient4:hover {
    transition: 5s;
    background-image: radial-gradient(circle closest-side, #f6e470,#df11b6);

  }

div.gif {
margin-top: -15%;
    height:30px;
    display: flex;
    flex-wrap:wrap;
    scale: 60%;
    margin-left: 20%;
    margin-right: 20%;
    align-items: center;
    justify-content: center;
    border: 0px solid black;
 }

div.textbox {
   
    color:rgb(4, 25, 62);
     border: 2px solid black;
height: 400px;
     text-align: center;
     border-radius: 25px;
     font-size: 8px;
     padding-left: 50px;
     padding-right: 12px;
     padding-top: 8px;
     padding-bottom: 16px;
     margin-top:40px ;
     margin-left: 30px; 
     margin-right: 30px;
     font-family: 'isen'; 
     align-items: center;
 
     word-wrap: break-word;

}




      div.button {
      
     
       
            background-color: aliceblue;
            padding: 12px 25px;
            width: 125px;
            font-family: "isen";
            border-radius: 20px ;
            text-align: center;
            font-size: 16px;
            position: absolute;
            margin-left: 25%;
            transform: translate(15%, -5%);
            display: block;
           text-decoration: none;
            box-shadow:  0px 0px 50px 3px rgb(243, 180, 233);
            transition: all 0.1s ease-in;
      
          }
    
      
   
      div.height200 {
        height:200px
    }    
    
    div.height450 {
        height:450px
    }  

div.height700 {
    height:700px
}

div.height500 {
    height:500px
}

div.height1000 {
    height:1000px
}

div.width100 {
    width: 100%;
}

div.width75 {
    width: 75%;
}

div.width66 {
    width:66.666%;
}

div.width50 {
    width:50%;
}

div.width40 {
    width:40%
}

div.width33 {
    width:33.3333%;
}

div.width25 {
    width:25%;
}

div.width20 {
    width:20%;
}



div.bgwhite {
    background-color:aliceblue;
}


div.coloranimation {
    background-color: pink;
    animation: backgroundcolor 3s infinite alternate;
}

div.coloranimation2 {
    background-color: lightsteelblue;
    animation: backgroundcolor 3s infinite alternate;
}

@keyframes backgroundcolor{

    0% {
        background-color: lightsteelblue;
    }
    100% {
        background-color: lavenderblush;
    }


}

div.marquee {
    
    font-family: "isen";
    font-size: 15px;
    height: 15%;
    margin-top: 10px;
    border: 1.5px solid black;
    border-radius: 15px;
    background-image: url(rainbow.jpg);
    background-size:150%;
    padding-top: 8px;
    margin-bottom: 5px;
}


div.intro{
    text-align: center;
    background-size:100%;
    font-family: "isen";
    background-image: url(sky.gif);
    font-size: 50px;
    padding-top: 300px;
    color: rgb(0, 0, 0);
    
}

div.firstrow{
    text-align: center;
    font-family: "isen";
    font-size: 30px;

}