body{
    background-color: rgb(44, 21, 103);
    color: rgb(33, 2, 25);    
    font-size: 30px;
    font-weight: normal;
}

@font-face {
    font-family: "blob";
    src: url("BLOB-Regular.woff");
}

@font-face {
    font-family: "squarevetica";
    src: url("Squarevetica-Regular.woff");
}

    @font-face {
        font-family: "mud";
        src: url("MudClub-FranklintheGoth.woff");
    }

div.details{
    color:rgb(255, 255, 255);
    font-size: 15px;    
    font-family: 'helvetica'; 
}

div.title{
    color:rgb(255, 255, 255);
    font-size: 47px;
    text-align: center;
    font-family: 'helvetica'; 
    }

div.text {
    font-family:Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(244, 240, 255)
    }