body {
    background-color: black;
}

div.row {
    display:flex;
    flex-wrap:wrap;
}

div.col{
outline:2px solid black;
border-radius: 25px;
padding-top: 60px;
margin-top: 1.5px;
margin-bottom: 1.5px;
}

div.gradient4 {
    height: 250px;
    background-color: #6b68cb;
    background-image: radial-gradient(circle closest-side, #ffee8a, #ff6d5a);
  }

div.textbox {
    color:rgb(255, 255, 255);
     border: 2px solid rgb(255, 255, 255);
     font-family: "isen"; 
height: 400px;
     text-align: center;
     border-radius: 25px;
     font-size: 8px;
     padding-left: 50px;
     padding-right: 12px;
     padding-top: 8px;
     padding-bottom: 16px;
     margin-top:40px ;
     margin-left: 50px; 
     margin-right: 50px;
     word-wrap: break-word;
}



div.intro{
    text-align: center;
    background-size:110%;
    font-family: "isen";
    font-size: 40px;
    color: white;
    background-color: aliceblue;
margin-top: auto;
}

div.button {   
    background-color: aliceblue;
    color: black;
    padding: 12px 25px;
    width: 125px;
    font-family: "isen";
    border-radius: 20px ;
    text-align: center;
    font-size: 16px;
    position: absolute;
    margin-left: 45%;
    display: block;
   text-decoration: none;
    box-shadow:  0px 0px 50px 3px rgb(243, 180, 233);
    transition: all 0.1s ease-in;

  }

div.width66 {
    width:66.666%;
}

div.width50 {
    width:50%;
}


div.width100 {
    width: 100%;
}

div.height800 {
    height:800px
}

div.backbutton{
    align-items: right;
    scale: 35%;
    width: 50px;
    height: 50px;
    margin-top: -60px;
    background-color: rgb(214, 214, 255);
    box-shadow:  0px 0px 100px 2px rgb(236, 58, 206);
    border-radius: 100%;
}