body{
    background-color: #f0f4ff;
    font-family: Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: "blob";
    src: url("BLOB-Regular.woff");
}

@font-face {
    font-family: "squarevetica";
    src: url("Squarevetica-Regular.woff");
}

    @font-face {
        font-family: "mud";
        src: url("MudClub-FranklintheGoth.woff");
    }

    @font-face {
        font-family: "isen";
        src: url("Isenreg.woff");
    }

h1{ font-family: "isen";
    font-size: 40px;
    text-align: center;
}
h2{ font-family: "squarevetica";
    font-size: 25px;
    text-align: center;
}
h3{ font-family: "isen";
    font-size: 25px;
    text-align:justify center;
}

